body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.headname{
    color: #00afb9;
}
section{
    display: flex;
   margin-bottom: 110px; 
}
.heading{
    width: 50%;
    padding: 5%;
}
.heading img{
    width: 80%;
}
.button-hm{
    text-decoration: none;
    background-image: linear-gradient(139deg,#00afb9, #90e0ef) ;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
.sec-a{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.sec-b{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat ;
    background-position: right;
    
}
.button-dr{
    text-decoration: none;
    background-image: linear-gradient(-139deg,#00afb9, #90e0ef) ;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
.ex{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    padding:5px 60px;
    border-radius: 7px;
    border-left: solid 5px #00afb9;
}
.sec-c{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
footer{
    text-align: center;
}
